# Игнорируем виртуальные среды
.venv/
env/

# Игнорируем временные файлы
*.tmp
*.log

# Игнорировать все файлы __init__.py
__init__.py

# Игнорировать сам файл .gitignore
.gitignore

# Игнорируем файлы и папки PyCharm
.idea/
*.iml


# Игнорируем файлы компиляции Python
__pycache__/
*.py[cod]

# Игнорируем базы данных и файлы данных
*.sqlite3
*.db

# Игнорируем файлы конфигурации
.env
secrets.json